# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test.

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [46]:
import pandas as pd
import numpy as np
from math import sqrt
import scipy.stats

In [16]:
df=pd.read_excel(r'D:\WB\Ironhack\Lesson7\lab-t-tests-p-values\files_for_lab\machine_vs.xlsx') # we copied the content of the machine.txt file to the machine_vs.xlsx file

In [17]:
df, df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   New machine      10 non-null     float64
 1       Old machine  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

(   New machine      Old machine
 0         42.1             42.7
 1         41.0             43.6
 2         41.3             43.8
 3         41.8             43.3
 4         42.4             42.5
 5         42.8             43.5
 6         43.2             43.1
 7         42.3             41.7
 8         41.8             44.0
 9         42.7             44.1,
 None)

In [32]:
col_names=df.columns
df.rename(columns={'New machine':'new_machine', col_names[-1]:'old_machine'}, inplace=True)

In [33]:
df.describe()

       new_machine  old_machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889
min      41.000000    41.700000
25%      41.800000    42.800000
50%      42.200000    43.400000
75%      42.625000    43.750000
max      43.200000    44.100000

The Hypothesis are the following:

 - Ho: Xnew=Xold
 - H1: Xnew<Xold
                 
**We are going to define 0.05 as alpha value**

The following data is available (see table above):

In [35]:
mean_new = 42.14
mean_old = 43.23
n_new = 10
n_old = 10
degrees_freedom = n_new+n_old - 2
std_new = 0.6834
std_old = 0.7498

Now, we are going to calculate the t-value:

In [53]:
t=(mean_new-mean_old)/sqrt((std_new**2)+(std_old**2)/(n_new-1))

In [54]:
t

-1.4979337319103527

In [55]:
# Determine the z-critical value with 0.05 significance level for left tailed test.
z=scipy.stats.norm.ppf(0.05)
z

-1.6448536269514729

In [56]:
# Lastly, we are going to calculate the p-value
p=scipy.stats.t.sf(abs(t), df=9)
p

0.08418841880324703

#### We will accept the null Hypothesis as the p-value is greater than the confidence interval which is 0.05.